#ad_wrap {
    @extend %wrap;
    height: 60px;
}
.ad {
    @extend %wrap;
    height: 100%;
    text-align: center;
    min-width: 1200px;
    overflow: hidden;
    position: relative;
    background: rgb(252,252,252);
    a {
        @extend %wrap;
        height: 100%;
        min-width: 1200px;
        img {
            @extend %center;
            display: block;
        }
    }
}
.close {
    width: 23px;
    height: 23px;
    background: url('../images/close.png');
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -11.5px;
    cursor: pointer;
    background-size: 100%;
}