@charset 'utf-8';
@import 'compass/reset';
$page_width:1200px;
$page_container:100%;
%center {
    width: $page_width;
    margin: 0 auto;
}
%wrap {
    width: $page_container;
}

.red {
    color: #ff1268;
}
.black {
    color: #000;
}
.active {
    background: #ff1268;
    color: #fff;
    font-weight: 600;
}
.danger {
    color: #e60000 !important;
}
.show {
    display: block !important;
}
.border{
    border: 1px solid #ff1268;
}
#bottom {
    background: #f6f4f5;
}
a {
    text-decoration: none;
}

// body {
//     background: rgb(252,252,252);
// }
#top {
    @extend %wrap;
    height: 72px;
    background: #fff;
    box-shadow: 0 2px 16px 0 rgba(220,220,220,.5);
}
/**********************头部************************************/
@import './header';
/**********************轮播图************************************/
@import './banner';
/**********************菜单************************************/
@import './menu';
/**********************主要内容************************************/
#content_wrap {
    @extend %center;
    // position: relative;
    margin-bottom: 30px;
}
/**********************演唱会************************************/
@import './dm-content';
/**********************话剧歌剧************************************/
// .content_opera {
//     @extend %center;
//     background: map-get($colors, f);
//     height: 457px;
// }
/**********************体育比赛************************************/
// .content_physical {
//     @extend %center;
//     background: map-get($colors, g);
//     height: 457px;
// }
/**********************儿童亲子************************************/
// .content_campaign {
//     @extend %center;
//     background: map-get($colors, h);
//     height: 457px;
// }
/**********************尾部************************************/
#bottom {
    @extend %wrap;
}
@import './footer';
/**********************sideBar************************************/
@import './sideBar';
/**********************楼梯************************************/
@import './stairs';