@charset 'utf-8';
@import 'compass/reset';
$page_width:1200px;
$page_container:100%;
$colors:(a:#abc,b:#affeee,c:#ddffaa,d:#fedfed,e:red,f:blue,g:green,h:orange,i:cyan,j:pink);
%center {
    width: $page_width;
    margin: 0 auto;
}
%wrap {
    width: $page_container;
}

.red {
    color: #ff1268;
}
.black {
    color: #000;
}
a {
    text-decoration: none;
}

body {
    background: rgb(252,252,252);
}

#ad_wrap {
    @extend %wrap;
    height: 60px;
}
.ad {
    @extend %wrap;
    height: 100%;
    text-align: center;
    min-width: 1200px;
    overflow: hidden;
    position: relative;
    background: rgb(252,252,252);
    a {
        @extend %wrap;
        height: 100%;
        min-width: 1200px;
        img {
            @extend %center;
            display: block;
        }
    }
}
.close {
    width: 23px;
    height: 23px;
    background: url('../images/close.png');
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -11.5px;
    cursor: pointer;
    background-size: 100%;
}
#top {
    @extend %wrap;
    height: 72px;
    background: #fff;
}
@import './header';

#banner {
    @extend %center;
    background: map-get($colors, b);
    height: 320px;
}
#menu {
    @extend %center;
    background: map-get($colors, c);
    height: 118px;
}
#content_wrap {
    @extend %center;
    background: map-get($colors, d);
    height: 1890px;
}
.content_concert {
    @extend %center;
    background: map-get($colors, e);
    height: 457px;
}
.content_opera {
    @extend %center;
    background: map-get($colors, f);
    height: 457px;
}
.content_physical {
    @extend %center;
    background: map-get($colors, g);
    height: 457px;
}
.content_campaign {
    @extend %center;
    background: map-get($colors, h);
    height: 457px;
}
#bottom {
    @extend %wrap;
    background: map-get($colors, i);
    height: 360px;
}
// @import './footer';
footer {
    @extend %center;
    background: map-get($colors, j);
    height: 360px;
}