@charset 'utf-8';
@import 'compass/reset';
$page_width:1200px;
$page_container:100%;
$colors:(a:#abc,b:#affeee,c:#ddffaa,d:#fedfed,e:red,f:blue,g:green,h:orange,i:cyan,j:pink);
%center {
    width: $page_width;
    margin: 0 auto;
}
%wrap {
    width: $page_container;
}

.red {
    color: #ff1268;
}
.black {
    color: #000;
}
a {
    text-decoration: none;
}

body {
    background: rgb(252,252,252);
}
/**********************广告************************************/
@import './ad';
#top {
    @extend %wrap;
    height: 72px;
    background: #fff;
}
/**********************头部************************************/
@import './header';
/**********************轮播图************************************/
@import './banner';
/**********************菜单************************************/
@import './menu';
/**********************主要内容************************************/
#content_wrap {
    @extend %center;
    // background: map-get($colors, d);
    height: 1890px;
    // position: relative;
    margin-bottom: 30px;
}
/**********************演唱会************************************/
@import './dm-content';
/**********************话剧歌剧************************************/
// .content_opera {
//     @extend %center;
//     background: map-get($colors, f);
//     height: 457px;
// }
/**********************体育比赛************************************/
// .content_physical {
//     @extend %center;
//     background: map-get($colors, g);
//     height: 457px;
// }
/**********************儿童亲子************************************/
// .content_campaign {
//     @extend %center;
//     background: map-get($colors, h);
//     height: 457px;
// }
/**********************尾部************************************/
#bottom {
    @extend %wrap;
    background: map-get($colors, i);
    height: 360px;
}
// @import './footer';
footer {
    @extend %center;
    background: map-get($colors, j);
    height: 360px;
}