@charset "UTF-8";
/* line 5, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/index.scss */
.ad a img, header, #banner, #menu, #content_wrap, footer {
  width: 1200px;
  margin: 0 auto;
}

/* line 9, ../sass/index.scss */
#ad_wrap, .ad, .ad a, #top, #bottom {
  width: 100%;
}

/* line 13, ../sass/index.scss */
.red {
  color: #ff1268;
}

/* line 16, ../sass/index.scss */
.black {
  color: #000;
}

/* line 19, ../sass/index.scss */
.active {
  background: #ff1268;
  color: #fff;
  font-weight: 600;
}

/* line 24, ../sass/index.scss */
.border {
  border: 1px solid #ff1268;
}

/* line 27, ../sass/index.scss */
a {
  text-decoration: none;
}

/**********************广告************************************/
/* line 1, ../sass/_ad.scss */
#ad_wrap {
  height: 60px;
}

/* line 5, ../sass/_ad.scss */
.ad {
  height: 100%;
  text-align: center;
  min-width: 1200px;
  overflow: hidden;
  position: relative;
  background: #fcfcfc;
}
/* line 13, ../sass/_ad.scss */
.ad a {
  height: 100%;
  min-width: 1200px;
}
/* line 17, ../sass/_ad.scss */
.ad a img {
  display: block;
}

/* line 23, ../sass/_ad.scss */
.close {
  width: 23px;
  height: 23px;
  background: url("../images/close.png");
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -11.5px;
  cursor: pointer;
  background-size: 100%;
}

/* line 36, ../sass/index.scss */
#top {
  height: 72px;
  box-shadow: 0 2px 16px 0 rgba(220, 220, 220, 0.5);
}

/**********************头部************************************/
/* line 3, ../sass/_header.scss */
header {
  height: 72px;
  font-size: 14px;
  font-family: "微软雅黑";
}
/* line 8, ../sass/_header.scss */
header h1 {
  width: 92px;
  height: 42px;
  text-indent: -1000px;
  float: left;
}
/* line 13, ../sass/_header.scss */
header h1 img {
  width: 100%;
  height: 100%;
  display: block;
}
/* line 19, ../sass/_header.scss */
header .location_header {
  cursor: pointer;
  float: left;
  height: 72px;
  margin-left: 54px;
  line-height: 72px;
  position: relative;
  white-space: nowrap;
}
/* line 27, ../sass/_header.scss */
header .location_header:hover .city_wrap {
  display: block;
}
/* line 30, ../sass/_header.scss */
header .location_header img {
  display: block;
  float: left;
}
/* line 34, ../sass/_header.scss */
header .location_header .icon_location {
  width: 12px;
  height: 14px;
  margin-top: 29px;
}
/* line 39, ../sass/_header.scss */
header .location_header span {
  font-size: 16px;
  display: block;
  float: left;
  margin: 0 5px;
}
/* line 45, ../sass/_header.scss */
header .location_header .arrow_location {
  width: 9px;
  height: 6px;
  margin-top: 33px;
}
/* line 50, ../sass/_header.scss */
header .location_header .city_wrap {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
/* line 57, ../sass/_header.scss */
header .location_header .city_header {
  width: 626px;
  z-index: 999;
  position: relative;
  left: -115px;
  top: 0;
  margin-top: 60px;
  background: #FFF;
  border: 1px solid #F4F4F4;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  padding: 21px;
}
/* line 69, ../sass/_header.scss */
header .location_header .city_header::after {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 50%;
  margin-top: -5.5px;
  width: 0;
  margin-left: -3px;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 5px;
  border-color: #fff #fff transparent transparent;
  transform: rotate(-45deg);
  box-shadow: 1px -1px 1px #ccc;
  left: 140px;
  margin-left: 0;
}
/* line 75, ../sass/_header.scss */
header .location_header .now_city {
  line-height: 25px;
}
/* line 77, ../sass/_header.scss */
header .location_header .now_city .select_city {
  color: #FF1268;
  background-color: #fff4f8;
  padding: 0 10px;
}
/* line 83, ../sass/_header.scss */
header .location_header .hot_city {
  line-height: 25px;
  margin-top: 40px;
}
/* line 87, ../sass/_header.scss */
header .location_header .other_city {
  line-height: 25px;
  padding-top: 15px;
  border-top: 1px solid #EEE;
  margin-top: 15px;
}
/* line 93, ../sass/_header.scss */
header .location_header .title_city {
  width: 86px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
  font-size: 16px;
  color: #111;
  letter-spacing: .56px;
}
/* line 103, ../sass/_header.scss */
header .location_header .name_city {
  display: inline-block;
  margin-right: 15px;
  vertical-align: top;
  font-size: 16px;
  color: #111;
  letter-spacing: .56px;
}
/* line 110, ../sass/_header.scss */
header .location_header .name_city:hover {
  color: #ff1268;
}
/* line 113, ../sass/_header.scss */
header .location_header .list_other {
  width: 525px;
  display: inline-block;
  line-height: 29px;
  margin-top: -3px;
}
/* line 120, ../sass/_header.scss */
header .recommend_header {
  height: 72px;
  margin: 0 -20px 0 40px;
  line-height: 72px;
  max-width: 220px;
  float: left;
  overflow: hidden;
}
/* line 127, ../sass/_header.scss */
header .recommend_header a {
  display: inline-block;
  font-size: 16px;
  margin-right: 18px;
  overflow: hidden;
}
/* line 132, ../sass/_header.scss */
header .recommend_header a:hover {
  color: #ff1268;
}
/* line 135, ../sass/_header.scss */
header .right_header {
  min-width: 55px;
  height: 100%;
  position: relative;
  float: right;
  line-height: 72px;
}
/* line 141, ../sass/_header.scss */
header .right_header .box_header {
  height: 100%;
  display: inline-block;
  line-height: 72px;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
}
/* line 148, ../sass/_header.scss */
header .right_header .box_header img {
  width: 26px;
  z-index: 20000;
  display: inline-block;
  margin-right: 4px;
  vertical-align: middle;
}
/* line 155, ../sass/_header.scss */
header .right_header .box_header span {
  display: inline-block;
  vertical-align: middle;
  color: #111;
  cursor: pointer;
  font-size: 16px;
}
/* line 161, ../sass/_header.scss */
header .right_header .box_header span:hover {
  color: #ff1268;
}
/* line 163, ../sass/_header.scss */
header .right_header .box_header:hover .list_wrap {
  display: block;
}
/* line 166, ../sass/_header.scss */
header .right_header .box_header:hover .ewm_download {
  display: block;
}
/* line 170, ../sass/_header.scss */
header .right_header .login_user {
  height: 100%;
  display: inline-block;
}
/* line 174, ../sass/_header.scss */
header .right_header .list_wrap {
  width: 133px;
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -67px;
  top: 50px;
  z-index: 999;
}
/* line 182, ../sass/_header.scss */
header .right_header .list_wrap .list_login {
  width: 100%;
  position: relative;
  margin-top: 10px;
  background: #FFF;
  border: 1px solid #F4F4F4;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}
/* line 190, ../sass/_header.scss */
header .right_header .list_wrap .list_login .li_login {
  width: 100%;
  height: 50px;
  display: block;
  line-height: 50px;
  font-size: 14px;
  color: #111;
  letter-spacing: .54px;
  text-align: center;
  border-bottom: 1px solid #F2F2F2;
}
/* line 200, ../sass/_header.scss */
header .right_header .list_wrap .list_login .li_login:hover {
  color: #ff1268;
}
/* line 202, ../sass/_header.scss */
header .right_header .list_wrap .list_login .out_login {
  display: none;
}
/* line 206, ../sass/_header.scss */
header .right_header .list_wrap .list_login::after {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 50%;
  margin-top: -5.5px;
  width: 0;
  margin-left: -3px;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 5px;
  border-color: #fff #fff transparent transparent;
  transform: rotate(-45deg);
  box-shadow: 1px -1px 1px #ccc;
}
/* line 210, ../sass/_header.scss */
header .right_header .ewm_download {
  width: 80px;
  height: 80px;
  display: none;
  position: absolute;
  top: 60px;
  left: -12px;
  z-index: 999;
  background: #fff;
  padding: 5px;
  box-shadow: 1px -1px 1px #ccc;
}
/* line 221, ../sass/_header.scss */
header .right_header .ewm_download img {
  width: 100%;
}
/* line 225, ../sass/_header.scss */
header .right_header .ewm_download::after {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 50%;
  margin-top: -5.5px;
  width: 0;
  margin-left: -3px;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 5px;
  border-color: #fff #fff transparent transparent;
  transform: rotate(-45deg);
  box-shadow: 1px -1px 1px #ccc;
}
/* line 229, ../sass/_header.scss */
header .search_header {
  width: 401px;
  height: 46px;
  margin-top: 12px;
  margin-right: 20px;
  line-height: 46px;
  float: right;
  position: relative;
}
/* line 237, ../sass/_header.scss */
header .search_header img {
  width: 17px;
  position: absolute;
  left: 22px;
  top: 15px;
  z-index: 11;
}
/* line 244, ../sass/_header.scss */
header .search_header input {
  width: 253px;
  height: 44px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  font-size: 16px;
  outline: 0;
  -webkit-appearance: none;
  border: 0;
  padding: 0 10px 0 54px;
  border-top-left-radius: 46px;
  border-bottom-left-radius: 46px;
  border: 1px solid #f8f8f8;
  background-color: #f8f8f8;
  border-right-color: #FF1268;
  box-sizing: content-box;
}
/* line 263, ../sass/_header.scss */
header .search_header .btn_search {
  width: 82px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: #FF1268;
  line-height: 46px;
  font-size: 16px;
  text-align: center;
  color: #FFF;
  border-radius: 0 27px 27px 0;
  z-index: 11;
  letter-spacing: 4px;
  cursor: pointer;
}
/* line 280, ../sass/_header.scss */
header .search_wrap {
  width: 402px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
/* line 286, ../sass/_header.scss */
header .search_wrap .list_search {
  border: 1px solid #F4F4F4;
  width: 374px;
  max-height: 296px;
  overflow: hidden;
  position: relative;
  left: 0;
  margin-top: 55px;
  z-index: 999;
  padding: 0 14px;
  background: #FFF;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
/* line 299, ../sass/_header.scss */
header .search_wrap .list_search a {
  width: 100%;
  height: 56px;
  line-height: 56px;
  display: block;
  border-bottom: 1px solid #EEE;
}
/* line 306, ../sass/_header.scss */
header .search_wrap .list_search .title_search {
  max-width: 270px;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #111;
}
/* line 314, ../sass/_header.scss */
header .search_wrap .list_search .title_search:hover {
  color: #ff1268;
}
/* line 316, ../sass/_header.scss */
header .search_wrap .list_search .city_search {
  max-width: 92px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: right;
  font-size: 14px;
  color: #666;
}

/**********************轮播图************************************/
/* line 1, ../sass/_banner.scss */
#banner {
  overflow: hidden;
  position: relative;
}

/* line 6, ../sass/_banner.scss */
.banner_wrap {
  width: 100%;
  height: 320px;
}
/* line 9, ../sass/_banner.scss */
.banner_wrap .prev, .banner_wrap .next {
  width: 56px;
  height: 64px;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  z-index: 101;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
/* line 19, ../sass/_banner.scss */
.banner_wrap .prev .left, .banner_wrap .next .right {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 50%;
  display: inline-block;
  content: "";
  border: solid #fff;
  border-width: 2px 2px 0 0;
}
/* line 31, ../sass/_banner.scss */
.banner_wrap img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}
/* line 37, ../sass/_banner.scss */
.banner_wrap .prev {
  left: 0;
}
/* line 40, ../sass/_banner.scss */
.banner_wrap .prev:hover {
  background: #ff1268;
  opacity: 0.32;
}
/* line 41, ../sass/_banner.scss */
.banner_wrap .prev .left {
  left: 24px;
  transform: translate(0, -50%) rotate(-135deg);
}
/* line 47, ../sass/_banner.scss */
.banner_wrap .next {
  right: 0;
}
/* line 50, ../sass/_banner.scss */
.banner_wrap .next:hover {
  background: #ff1268;
  opacity: 0.32;
}
/* line 51, ../sass/_banner.scss */
.banner_wrap .next .right {
  transform: translate(0, -50%) rotate(45deg);
}
/* line 56, ../sass/_banner.scss */
.banner_wrap .nav {
  position: absolute;
  bottom: 23px;
  right: 32px;
  z-index: 99;
}
/* line 61, ../sass/_banner.scss */
.banner_wrap .nav .dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.32;
  cursor: pointer;
}
/* line 71, ../sass/_banner.scss */
.banner_wrap .nav .current {
  opacity: 1;
}

/**********************菜单************************************/
/* line 3, ../sass/_menu.scss */
#menu {
  height: 118px;
  margin-top: 15px !important;
  display: flex;
  border: 1px solid #EBEBEB;
  zoom: 1;
  justify-content: space-evenly;
  align-items: center;
}
/* line 12, ../sass/_menu.scss */
#menu a {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
/* line 18, ../sass/_menu.scss */
#menu a:hover p {
  color: #ff1268;
}
/* line 19, ../sass/_menu.scss */
#menu a span {
  width: 48px;
  height: 48px;
  background: url("../images/menu.png") no-repeat 0px 0px;
  background-size: 100% auto;
}
/* line 25, ../sass/_menu.scss */
#menu a p {
  font-size: 16px;
  color: #111;
  text-align: center;
}
/* line 30, ../sass/_menu.scss */
#menu a:nth-of-type(2) span {
  background-position-y: -64px;
}
/* line 33, ../sass/_menu.scss */
#menu a:nth-of-type(3) span {
  background-position-y: -120px;
}
/* line 36, ../sass/_menu.scss */
#menu a:nth-of-type(4) span {
  background-position-y: -180px;
}
/* line 39, ../sass/_menu.scss */
#menu a:nth-of-type(5) span {
  background-position-y: -240px;
}
/* line 42, ../sass/_menu.scss */
#menu a:nth-of-type(6) span {
  background-position-y: -297px;
}
/* line 45, ../sass/_menu.scss */
#menu a:nth-of-type(7) span {
  background-position-y: -360px;
}
/* line 48, ../sass/_menu.scss */
#menu a:nth-of-type(8) span {
  background-position-y: -420px;
}
/* line 51, ../sass/_menu.scss */
#menu a:nth-of-type(9) span {
  background-position-y: -480px;
}
/* line 54, ../sass/_menu.scss */
#menu a:nth-of-type(10) span {
  background-position-y: -540px;
}

/**********************主要内容************************************/
/* line 49, ../sass/index.scss */
#content_wrap {
  margin-bottom: 30px;
}

/**********************演唱会************************************/
/* line 2, ../sass/_dm-content.scss */
.dm-content {
  width: 1158px;
  position: relative;
  padding: 20px;
  border: 1px solid #EBEBEB;
  margin-top: 15px;
  overflow: hidden;
}
/* line 9, ../sass/_dm-content.scss */
.dm-content .head {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
/* line 13, ../sass/_dm-content.scss */
.dm-content .head .head_title {
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  color: #111;
  width: 500px;
  height: 40px;
  overflow: hidden;
}
/* line 23, ../sass/_dm-content.scss */
.dm-content .head .head_more {
  vertical-align: middle;
  float: right;
  margin-right: 23px;
  font-size: 14px;
  color: #9B9B9B;
  max-width: 450px;
  height: 100%;
  overflow: hidden;
}
/* line 32, ../sass/_dm-content.scss */
.dm-content .head .head_more:hover {
  color: #ff1268;
}

/* line 36, ../sass/_dm-content.scss */
.box {
  margin-top: 15px;
}
/* line 38, ../sass/_dm-content.scss */
.box .box_left {
  display: inline-block;
  width: 270px;
  height: 360px;
  position: relative;
  overflow: hidden;
}
/* line 44, ../sass/_dm-content.scss */
.box .box_left img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #efefef;
}
/* line 51, ../sass/_dm-content.scss */
.box .box_left .box_left_info {
  width: 250px;
  height: 84px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 17px 10px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 59, ../sass/_dm-content.scss */
.box .box_left .box_left_info .title {
  height: 45px;
  font-size: 16px;
  color: #fff;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
/* line 67, ../sass/_dm-content.scss */
.box .box_left .box_left_info .title:hover {
  color: #ff1268;
}
/* line 69, ../sass/_dm-content.scss */
.box .box_left .box_left_info .details {
  margin-top: 12px;
  font-size: 20px;
  color: #fff;
}
/* line 73, ../sass/_dm-content.scss */
.box .box_left .box_left_info .details:hover {
  color: #ff1268;
}
/* line 74, ../sass/_dm-content.scss */
.box .box_left .box_left_info .details span {
  font-size: 14px;
}

/* line 81, ../sass/_dm-content.scss */
.box_right {
  display: inline-block;
  width: 870px;
  margin-left: 13px;
  height: 360px;
  vertical-align: top;
  overflow: hidden;
}

/* line 89, ../sass/_dm-content.scss */
.box_right_item {
  width: 273px;
  height: 160px;
  margin-right: 13px;
  display: inline-block;
  margin-bottom: 40px;
  color: #000;
  overflow: hidden;
}
/* line 97, ../sass/_dm-content.scss */
.box_right_item .iteming {
  width: 118px;
  height: 158px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border: 1px solid #efefef;
}
/* line 104, ../sass/_dm-content.scss */
.box_right_item .iteming img {
  width: 100%;
}
/* line 108, ../sass/_dm-content.scss */
.box_right_item .item_info {
  width: 138px;
  height: 100%;
  position: relative;
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
}
/* line 115, ../sass/_dm-content.scss */
.box_right_item .item_info .title {
  line-height: 20px;
  font-size: 14px;
  color: #4A4A4A;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
/* line 123, ../sass/_dm-content.scss */
.box_right_item .item_info .title:hover {
  color: #ff1268;
}
/* line 125, ../sass/_dm-content.scss */
.box_right_item .item_info .venue {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 12px;
  margin-top: 14px;
  color: #9B9B9B;
  overflow: hidden;
  word-break: break-all;
}
/* line 135, ../sass/_dm-content.scss */
.box_right_item .item_info .venue:hover {
  color: #ff1268;
}
/* line 137, ../sass/_dm-content.scss */
.box_right_item .item_info .showtime {
  margin-top: 7px;
  font-size: 12px;
  color: #9B9B9B;
}
/* line 141, ../sass/_dm-content.scss */
.box_right_item .item_info .showtime:hover {
  color: #ff1268;
}
/* line 143, ../sass/_dm-content.scss */
.box_right_item .item_info .price {
  width: 138px;
  position: absolute;
  left: 15px;
  bottom: 1px;
  font-size: 16px;
  color: #FF1268;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 153, ../sass/_dm-content.scss */
.box_right_item .item_info .price span {
  font-size: 12px;
}

/**********************话剧歌剧************************************/
/**********************体育比赛************************************/
/**********************儿童亲子************************************/
/**********************尾部************************************/
/* line 5, ../sass/_footer.scss */
.footer_links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px 0;
  text-align: center;
  zoom: 1;
}

/* line 13, ../sass/_footer.scss */
.footer_links_list {
  font-size: 12px;
  color: #111;
}
/* line 16, ../sass/_footer.scss */
.footer_links_list a {
  font-size: 12px;
  color: #111;
}
/* line 19, ../sass/_footer.scss */
.footer_links_list a:hover {
  color: #ff1268;
  text-decoration: underline;
}

/* line 25, ../sass/_footer.scss */
.footer_links_grep {
  padding: 0 24px;
  font-size: 12px;
  color: #111;
}

/* line 30, ../sass/_footer.scss */
.footer_ft {
  padding-bottom: 58px;
  zoom: 1;
  display: flex;
  justify-content: space-between;
}

/* line 36, ../sass/_footer.scss */
.footer_fl {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
/* line 40, ../sass/_footer.scss */
.footer_fl a {
  zoom: 1;
  float: left;
  margin-top: 20px;
  width: 167px;
  height: 60px;
}
/* line 46, ../sass/_footer.scss */
.footer_fl a img {
  width: 100%;
  display: block;
}
/* line 51, ../sass/_footer.scss */
.footer_fl .footer_code_box {
  width: 87px;
  text-align: center;
  margin-left: 40px;
  font-size: 14px;
  color: #111111;
}
/* line 57, ../sass/_footer.scss */
.footer_fl .footer_code_box img {
  display: block;
  width: 87px;
  height: 87px;
  margin-bottom: 8px;
}

/* line 66, ../sass/_footer.scss */
.footer_fr .footer_fr_contact {
  zoom: 1;
  padding-bottom: 10px;
}
/* line 69, ../sass/_footer.scss */
.footer_fr .footer_fr_contact a {
  display: block;
  width: 98px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  background-color: #ff1268;
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
}
/* line 81, ../sass/_footer.scss */
.footer_fr .footer_fr_words {
  padding-bottom: 6px;
  zoom: 1;
  display: flex;
}
/* line 85, ../sass/_footer.scss */
.footer_fr .footer_fr_words .footer_links_grep {
  padding: 0 15px;
}
/* line 89, ../sass/_footer.scss */
.footer_fr .footer_fr_words a:hover {
  text-decoration: none;
}
/* line 92, ../sass/_footer.scss */
.footer_fr .footer_fr_img {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
/* line 96, ../sass/_footer.scss */
.footer_fr .footer_fr_img a {
  margin-right: 5px;
}
/* line 98, ../sass/_footer.scss */
.footer_fr .footer_fr_img a img {
  display: block;
  height: 30px;
}
/* line 103, ../sass/_footer.scss */
.footer_fr .footer_fr_img a:nth-of-type(3) img {
  width: 114px;
  height: 40px;
}

/**********************sideBar************************************/
/* line 3, ../sass/_sideBar.scss */
#sideBar {
  background: #fff;
  border: 1px solid #EBEBEB;
  width: 80px;
  position: fixed;
  right: 10px;
  top: 72.5%;
  margin-top: -105px;
  z-index: 9999;
}

/* line 13, ../sass/_sideBar.scss */
.item {
  height: 60px;
  border-bottom: 1px solid #EBEBEB;
  text-align: center;
  padding-top: 10px;
  color: #111;
  font-size: 12px;
  position: relative;
  cursor: pointer;
  box-sizing: content-box;
}
/* line 23, ../sass/_sideBar.scss */
.item p {
  margin-top: 5px;
}
/* line 26, ../sass/_sideBar.scss */
.item:hover p {
  color: #ff1268;
}
/* line 27, ../sass/_sideBar.scss */
.item a {
  display: block;
  text-decoration: none;
  color: #111;
}
/* line 32, ../sass/_sideBar.scss */
.item .icon {
  background: url(../images/right.png) no-repeat 3px -30px;
  margin: 0 auto;
  width: 32px;
  height: 29px;
  background-size: 100%;
}
/* line 39, ../sass/_sideBar.scss */
.item .daMai {
  background-position: 0 4px;
}
/* line 42, ../sass/_sideBar.scss */
.item .goTop {
  background-position: 4px -65px;
}
/* line 45, ../sass/_sideBar.scss */
.item .qrCode {
  background: url(../images/qr-code.jpg) no-repeat center;
  background-size: 90%;
  display: none;
  position: absolute;
  width: 72px;
  height: 72px;
  left: -92px;
  top: -6px;
  box-shadow: 2px 2px 4px #ccc;
  padding: 5px;
}
/* line 56, ../sass/_sideBar.scss */
.item .qrCode::after {
  position: absolute;
  display: inline-block;
  top: 50%;
  margin-top: -2.5px;
  right: -5px;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 5px;
  border-color: #fff #fff transparent transparent;
  transform: rotate(45deg);
  box-shadow: 1px -1px 1px #ccc;
}

/* line 73, ../sass/_sideBar.scss */
.item:nth-of-type(2):hover .qrCode {
  display: block;
}

/* line 76, ../sass/_sideBar.scss */
.go_top {
  border-bottom-width: 0;
  display: none;
}

/**********************楼梯************************************/
/* line 1, ../sass/_stairs.scss */
#stairs {
  background: #fff;
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  overflow: hidden;
  width: 50px;
  position: fixed;
  left: 50px;
  top: 300px;
  color: #111;
  margin-top: -105px;
  z-index: 9999;
}
/* line 13, ../sass/_stairs.scss */
#stairs .stairs_item {
  height: 60px;
  border-bottom: 1px solid #EBEBEB;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  box-sizing: content-box;
}
/* line 22, ../sass/_stairs.scss */
#stairs .stairs_item p {
  margin-top: 10px;
  line-height: 20px;
}

/* line 28, ../sass/_stairs.scss */
.stairs_item:last-of-type {
  border-bottom: 0;
}
