/* line 3, ../sass/register.scss */
.pcbar {
    width: 100%;
    height: 90px;
    background: #fff;
  }
  
  /* line 8, ../sass/register.scss */
  .pcbar__bd {
    width: 1200px;
    margin: 0 auto;
    height: 90px;
  }
  
  /* line 13, ../sass/register.scss */
  .pcbar__bd__logo {
    float: left;
    margin-top: 24px;
  }
  
  /* line 17, ../sass/register.scss */
  .pcbar__bd__logo img {
    display: block;
    width: 108px;
    height: 48px;
  }
  
  /* line 22, ../sass/register.scss */
  .pcbar__bd__btn {
    float: right;
    margin-top: 24px;
    width: 121px;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #ebebeb;
    font-size: 14px;
    color: #888;
    text-decoration: none;
  }
  
  /* line 35, ../sass/register.scss */
  .pcbar__bd__btn:hover {
    text-decoration: none;
    background: #ff1268;
    color: #fff;
  }